.ax_default {
  font-family:'Consolas';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.shape {
  font-family:'Verdana Regular', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.image {
}
.placeholder {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
.heading_1 {
  font-family:'Consolas';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Consolas';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Consolas';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Consolas';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Consolas';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Consolas';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.line {
}
.arrow {
}
.text_field {
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.flow_shape {
}
.html_button {
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
.tree_node {
  text-align:left;
}
.table_cell {
}
.connector {
  color:#0033FF;
}
.sticky_2 {
  text-align:left;
}
.paragraph1 {
  text-align:left;
}
.heading_11 {
  font-family:'Consolas Bold', 'Consolas Regular', 'Consolas';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.shape1 {
  font-size:14px;
  text-align:left;
}
.horizontal_line {
}
.icon {
}
.materialicons {
  font-family:'Material Icons';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#000000;
}
.paragraph2 {
  font-size:12px;
  color:#000000;
  text-align:left;
}
.fontawesome {
}
.headline {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  color:rgba(0, 0, 0, 0.866666666666667);
}
.title {
  font-family:'Consolas';
  font-weight:bold;
  font-style:normal;
  font-size:13px;
  color:rgba(255, 255, 255, 0.866666666666667);
  text-align:left;
}
.subheader {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.866666666666667);
}
.body_2___menu {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.866666666666667);
}
.body_1 {
  font-family:'Consolas';
  font-weight:normal;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.866666666666667);
}
.caption {
  font-family:'Consolas';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.537254901960784);
}
.primary_text_dark {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.866666666666667);
  text-align:left;
}
.secondary_text_dark {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.537254901960784);
}
.disabled_text_dark {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.258823529411765);
}
.flat_button {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#2196F3;
}
.flat_button_pressed {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#2196F3;
}
.raised_button {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
.raised_button_pressed {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
.status_bar_light {
}
.title_bar_light {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.866666666666667);
  text-align:left;
}
.content_bg_light {
}
.dialog_light {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.866666666666667);
  text-align:left;
}
.hint_text {
  font-family:'Courier New';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.258823529411765);
}
.card {
}
.shape2 {
}
.image1 {
  color:#000000;
}
.horizontal_line1 {
}
.contact_chips {
  font-size:14px;
  color:rgba(0, 0, 0, 0.537254901960784);
}
.contact_avatar {
}
